/* The theme for our Hello World app */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', serif;
}

#app-container {
    background: url('../images/background.jpg') no-repeat center center fixed; /* Added 'fixed' for a full-page background image */
    background-size: cover;
    position: relative;
    width: 100%; /* Ensure it takes full width */
    height: 100%; /* Ensure it takes full height */
}

#app-content {
    /* Use the CSS variable for the primary color and set the desired opacity */
    background-color: rgba(var(--primary-color), 0.5) !important; /* Adding !important to ensure this style takes precedence */
    padding: 2rem;
    border-radius: 0.5rem; /* Rounded corners as requested */
    color: var(--font-color); /* Inheriting the font color from the root theme */
    max-width: 800px; /* Set a max-width for larger screens, can adjust as needed */
    width: 100%; /* Use full width up to max-width */
    box-sizing: border-box; /* Ensure padding is included in width */
}

/* Font styles */
h1 {
    font-size: 2.5rem; /* Large screens */
}

p {
    font-size: 1rem; /* Paragraph text */
}

/* Responsive Font sizes */
@media (max-width: 992px) {
    h1 {
        font-size: 2rem; /* Tablets */
    }
    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Landscape phones */
    }
    p {
        font-size: 0.8rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.2rem; /* Portrait phones */
    }
    p {
        font-size: 0.75rem;
    }
}

/* Custom responsive font sizes for menu items */
/* Large screens */
@media (min-width: 992px) {
    .menu-item-btn {
        font-size: 1.2rem; /* Adjust as needed */
    }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
    .menu-item-btn {
        font-size: 1rem; /* Adjust as needed */
    }
}

/* Small screens */
@media (min-width: 576px) and (max-width: 767px) {
    .menu-item-btn {
        font-size: 0.8rem; /* Adjust as needed */
    }
}

/* Extra small screens */
@media (max-width: 575px) {
    .menu-item-btn {
        font-size: 0.7rem; /* Adjust as needed */
    }
}

/* Color theme (Placeholder values, might be updated by color-extractor.js) */
:root {
    --font-color: #fff;
    --primary-color: #007bff; /* This will be overridden by JavaScript code. */
    --secondary-color: #6c757d; /* This will be overridden by JavaScript code. */
    --tertiary-color: #17a2b8; /* This will be overridden by JavaScript code. */
}

/* Apply theme colors */
.text-white {
    color: var(--font-color);
}

/* Menu style */
#menu-container .btn-group-vertical .btn {
    margin: 0.5rem 0;
    opacity: 0.85;
    border: 1px solid var(--font-color);
}