#app-container {
    background: url('../../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

#app-content {
    background-color: rgba(var(--neutral-color), 0.8) !important;
    padding: 2rem;
    border-radius: 0.5rem;
    color: var(--font-color);
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
}