/* General styling for the app container */
#app-container {
    background: url('../../images/background.jpg') no-repeat center center fixed; /* Sets a fullscreen background image with fixed positioning */
    background-size: cover; /* Ensures the background image covers the entire container, cropping if necessary */
    display: flex; /* Enables flexbox layout to easily center the app content vertically and horizontally */
    justify-content: center; /* Center horizontally within the flex container */
    align-items: center; /* Center vertically within the flex container */
    width: 100%; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    position: relative; /* Establishes a stacking context for absolutely positioned child elements */
}

/* Styling for the main app content area */
#app-content {
    background-color: var(--neutral-color-bg) !important; /* Sets the background color using a CSS variable, ensuring opacity can be managed via the variable */
    padding: 2rem; /* Provides space around the content inside the box */
    border-radius: 0.5rem; /* Rounds the corners of the app content box */
    color: var(--font-color) !important; /* Sets the text color using a CSS variable */
    box-sizing: border-box; /* Makes sure padding and border are included in the total width and height */
    
    width: 100%; /* Use 100% of the container width, adjusting to the container's width */
    max-width: 800px; /* Limits the maximum width to ensure content doesn’t stretch too wide on larger screens */
    max-height: 90vh; /* Limits the maximum height to prevent overflow of the screen height */
    overflow: auto; /* Enables scrolling for the content area if the content exceeds the box size */
    
    /* Centering the content box */
    margin: auto; /* Utilizes automatic margins for horizontal centering */
    position: absolute; /* Absolutely positions the content box to facilitate centering */
    top: 50%; /* Position the top edge of the box at the middle of the container */
    left: 50%; /* Position the left edge of the box at the middle of the container */
    transform: translate(-50%, -50%); /* Offsets the box to truly center it relative to its top/left set positions */
}

/* Spacing settings */
/* App title spacing */
#app-title {
    margin-bottom: 2rem; /* Adds bottom margin for spacing below the app title */
}

/* Main content spacing */
#main-content {
    margin-bottom: 2rem; /* Adds bottom margin for spacing below the main content area */
}