@media (max-width: 992px) {
    #app-title {
        font-size: 2rem;
    }
    #main-content {
        font-size: 0.9rem;
    }
    #app-content {
        max-width: 90%;  /* Adjust the maximum width to be responsive */
        max-height: 95vh; /* Adjust the maximum height to allow for margin around the container */
        padding: 1.5rem;  /* Adjust the padding if needed */
        overflow: auto;   /* Add a scrollbar if the content exceeds the container */
    }
}

@media (max-width: 768px) {
    #app-title {
        font-size: 1.5rem;
    }
    #main-content {
        font-size: 0.8rem;
    }
    #app-content {
        max-width: 90%; /* Adaptive width for smaller screens */
        max-height: 95vh; /* Adaptive max height for smaller screens */
    }
}

@media (max-width: 576px) {
    #app-title {
        font-size: 1.2rem;
    }
    #main-content {
        font-size: 0.75rem;
    }
    #app-content {
        padding: 1rem; /* Smaller padding for extra small screens */
    }
}